/* ___________navegador */

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 15px 0px;
    background-color: $primary-color;
    .navbar-brand{
        animation-name: efectoNav;
        animation-iteration-count:initial;
        animation-timing-function: ease-in;
        animation-duration: 4s;
        padding: 10px;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin: 0px;
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding: 15px;

        li {
            justify-content: center;
            object-fit: cover;


            a {
                text-decoration: none;
                padding: 10px;
                display: flex;
                text-align: center;
                display: inline-block;
                width: 100%;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: larger;

                &:hover {
                    transition: 0.5s;
                    background-color: $shadow-color;
                    font-size: 110%;
                }


                &:not(&:hover) {
                    filter: blur(0.1px);
                }
            }
        }
    }
}