$primary-color: #8153ef;
$secondary-color: #52d053;
$terciary-color:#fffbf3;
$contrast-color:#000000;
$shadow-color: #00000043;
$submit-button-color: #50ad0d;
$single-day-font: 'Single Day', 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
$zeyada-font: 'Zeyada', 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
$satisfy-font: 'Satisfy', 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
$dancing-font: 'Dancing Script', 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;